# GEOMAGIXS SETUP-CONFIGURATION FILE
#
# the file contains configuration data requiered by the geomagixs system.
#
################################################################################
################################################################################
# Directories ##################################################################
#
# preferably use absolute addresses
# ------------------------------------------------------------------------------
#
# Input Directory --------------------------------------------------------------
~/DATA/input
#
# Auxiliary Data Directory -----------------------------------------------------
~/DATA/input/auxiliar
#
# Output Directory -------------------------------------------------------------
~/DATA/output
# ------------------------------------------------------------------------------
################################################################################
# END setup file
#
#
#
